h1,h2,h3,h4,h5,h6,p{margin: 0;padding: 0;}
.modal-shade{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
}
.modal-shade.hide{
    display: none;
}
.modal-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 350px;
    width: 600px;
    border-radius: 3px;
    border: 1px solid #eee;
    background-color: #fff;
    text-align: center;
}
.modal-icon{ 
    display: inline-block;
    height: 80px;
    width: 80px;
    margin: 40px 0;
} 
.modal-title{
    margin-bottom: 10px;
}
.modal-msg{
    margin-bottom: 20px;
}
.modal-msg p{ 
    color: #777;
}
.modal-ok{
    padding:5px 25px;
    background-color: rgb(1,183,168);
    border:1px solid transparent;
    border-radius: 4px;
    line-height: 1.5;
    color:#fff;
    font-size:15px;
}